html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #ffffff;
}

* {
  box-sizing: border-box;
}
